<!-- データベースから投稿記録と投稿者を持ってきて全て表示させる -->
<header>
  <div class="header-list">
    <ul>
      <li> <%= link_to("ホーム",root_path) %> </li>
      <li> <%= link_to("投稿",new_post_path) %> </li>
    </ul>
  </div>
</header>

<div class="main">
<<<<<<< HEAD
<<<<<<< HEAD
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <li> 投稿 : <%= post.content %> </li>
      <li> 投稿者 : <%= post.name %> </li>
      <li> <%= link_to("返信する",reply_post_path(post.id)) %> </li>
    </div>
  <% end %>
=======
=======
>>>>>>> home_design
  <div class="posts-index">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="user">
          <div class="posts-index-image">
            <img src="/azarashi.png" alt="azarashi" width="70px" height="70px">
          </div>
          <div class="posts-name">
            <li> <%= post.name %> </li>
          </div>
        </div>
        <div class="posts">
          <div class="posts-content">
            <li> <%= post.content %> </li>
          </div>
          <!--
          <div class="posts-reply">
            <li> <%= link_to("返信",reply_post_path(post.id)) %> </li>
          </div>
          -->
        </div>
      </div>
    <% end %>
  </div>
<<<<<<< HEAD
=======
>>>>>>> home_design
</div>
